<div class="wrapper">
<h1>Welcome to the Recipes Library!</h1>

<ul>
<% @recipes.each do |recipe| %>
  <h2><li><%= link_to recipe.name, recipe %></li></h2>
  <% end %>
  </ul>

  <button class="btn btn-primary"><%= link_to "Create A Recipe", new_recipe_path %></button>
  <div>