<h1> Restaurants </h1>

<ul>
<% @restaurants.each do |restaurant| %>
    <li><%= link_to restaurant.name, restaurant %> </li><br>
    <li>Address: <%= restaurant.address %></li><br>
    <br>
    <% end %>
    </ul>