// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

input {
    margin-bottom: 1em;
  }
  
  body {
    text-align: center;
  }

  .wrapper {
    background: #fff;
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    margin: 16px auto;
    max-width: 960px;
    width: 95%;
  }


  img {
  width: 60%;
  height: 600px

  }
  body {
    
    background-image: url(https://i.pinimg.com/736x/7c/b1/86/7cb18679659f791b1191bea97b74dfc0.jpg);
    color: #333;
    font-family: Sans-Serif;
    line-height: 18px;
  }

  h1 {
    font-size: 36px;
    line-height: 54px;
    color: white;
  }

  h2 {
   
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 16px;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    color: black;
  }

  h3 {
    background: #fff;
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
    font-size: 18px;
    line-height: 36px;
    color: black;
  }

  .btn-primary {
    color: #fff;
    background-color: #ebecec;
    border-color: #f7f7f7; 
    font-size: 15px;
} 

.btn-primary:hover {
  background-color: white;
}

.search {
  color: white;
}

/* button {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-left-width: 0px;
    width: 90px;
    height: 29px;
} */
 